**/target
**/lib
**/log
**/store
.settings/org.eclipse.m2e.core.prefs
**/.classpath
**/.project
**/.idea
/.settings/
/bin/
*.iml
/.idea/

/etiqet-orderbook/initiatorStore/
/etiqet-orderbook/initiatorLog/
/etiqet-orderbook/initiatorLog/
